<div class="row">
	<div class="col-xs-12">
		<img [src]="vookDetail.imagePath" class="img-responsive" style="max-height: 300px">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{vookDetail.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>{{vookDetail.description}}</p>
		<button class="btn btn-primary dropdown-toggle">Manage<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">To Shopping List</a></li>
			<li><a href="#">Delete Vook</a></li>
		</ul>
	</div>
	
</div>